html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	overflow: hidden;
}
body {
	line-height: 1;
	overflow-y: auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: url("../assets/TGHA-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #5397d4;
    background-position: center center;
	color: white;
}

body, html {
    height: 100%;
    min-height: 100%;
	font-family: Helvetica, sans-serif;
}

.button:hover {
	background-color: white;
	color: black;
	cursor: pointer;
	transition-duration: 00.1s;
  }

.container {
	padding-top: 10px;
	margin: 10px;
}

h1 {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 3em;
}

h2 {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1em;
}

.button-pannel {
	position: absolute;
    display: block;
	bottom: 30px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.button{
	display: block;
	text-decoration: none;
	color: black;
	padding: 2px 6px 2px 6px;
	border: 1px outset black;
	transition-duration: 0.15s;
   	background-color: transparent;
	margin: 10px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.subscribe-body {
	background-image: url("../assets/TGHA-background.jpg");
}

.center {
	transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
	position: absolute;
}

.cover-photo {
	width: 70%;
	z-index: -1;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }

.mc-field-group {
	padding: 10px;
}

#mc_embed_signup {
	background-color: transparent;
	border: 1px outset black;
}

#subscribe_text {
	font-style: italic;
	color: #3c688e;
	padding-left: 10px;
	font-size: 0.75em;
}

#subscribe_button {
	width: 150px;
	text-decoration: none;
	color: black;
	padding: 2px 6px 2px 6px;
	border: 1px outset black;
	transition-duration: 0.15s;
   	background-color: transparent;
}

@media screen and (min-width: 768px) {
	.cover-photo {
		width: 60%;
	}
}

@media screen and (min-width: 1024px) {
	.cover-photo {
		width: 30%;
	}
  }