/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: url("../assets/TGHA-smartphone.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: center center;
}

body, html {
    height: 100%;
    min-height: 100%;
	font-family: Helvetica, sans-serif;
}

button:hover {
	background-color: white; /* Green */
	color: black;
	cursor: pointer;
  }

.main {
	padding: 2em;
	margin: 2em;
}

h1 {
	font-size: 10em;
	color: white;
}

h2 {
	padding: 1em;
	font-size: 2em;
	color: white;
}

.button-pannel {
	margin-top: 2em;
	display: block;
	height: 10em;
}

.button {
	text-decoration: none;
	color: black;
	padding: 2px 6px 2px 6px;
	border: 1px outset black;
	transition-duration: 0.15s;
   	background-color: transparent;
	padding: 1em;
	margin: 1em;
	width:2em;
}

@media (min-width: 768px) {
  body {
    background-image: url("../assets/TGHA-16x9.jpg");
  }

  h1 {
	font-size: 7em;
	color: red;
  }
}

@media (min-width: 1024px) {
	body {
	  background-image: url("../assets/TGHA-16x9.jpg");
	}
  
	h1 {
	  font-size: 7em;
	}
  }